<a href="/">Inicio</a> <br><br>

Completa los todos los valores para poder crear tu producto
<br>
<form action="/api/comunity/createProduct" method="post"> 
<br>
<span>Marca: <input type="text" name="marca"></span> <br><br>
<span>Modelo: <input type="text" name="modelo"></span>
<span>Precio: <input type="number" name="precio"></span> <br> <br>
<span>Stock: <input type="number" name="stock"></span>
<br><br>
<input type="submit" value="Crear">
</form>

