<a href="/">Inicio</a><br><br>

<h2>Aprovecha y hacete Premium , es muy facil !! Y disfruta de los siguientes beneficios:</h2>

<h4>- Poder crear tus propios productos para la comunidad </h4>

<h4>- Descuentos en compras mayores a $ 150.000,00  </h4>


<h4>- Descuentos Premium</h4>


<a href="/session/doneP">
        <button>Hacerse Premium</button>
</a>