
<a class="a" href="/">Inicio</a>
<br>
<h2>Inicia Sesion</h2>

<form action="/session/iniciarsesion" method="post">
 <span>Email </span>   <input name="email" type="text"> <br><br>
<span>Contraseña </span>  <input name="password" type="password">
<br><br><br>
<input type="submit"  value="Iniciar sesion">
</form>
<br><br>
<span>Iniciar sesion con </span><a class="a" href="/session/login-google">Google</a>
<a class="a" href="/session/veremail">Has olvidado la contraseña?</a>