<a href="/">Inicio</a>
<br>
<h2>Registrarse</h2>

<form action="/session/registrar" method="post">
<span>Usuario</span>    <input name="usuario" type="text">
<span>Contraseña </span>  <input name= "password" type="password"><br><br>
 <span>Email </span>   <input name="email" type="text"> 
<br><br><br>
<input type="submit"  value="Crear">
</form>
<br><br>

