
<form action="/session/mailing" method="post">
<h3>Introduzca su correro electronico de recuperacion</h3> <br>
<input type="text" name="email"> <br><br>
<input type="submit" value="siguiente">
</form>